<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="David-Estevez">

    <title>{{org_name}} - Top Contributors</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{org_url}}">{{org_name}}</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
<div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#contribs" aria-controls="contribs" role="tab" data-toggle="tab">Top Contributors</a></li>
                        <li role="presentation"><a href="#issues" aria-controls="issues" role="tab" data-toggle="tab">Top Issues</a></li>
                        <li role="presentation"><a href="#team-contribs" aria-controls="team-contribs" role="tab" data-toggle="tab">Top Team Contributors</a></li>
                        <li role="presentation"><a href="#team-issues" aria-controls="team-issues" role="tab" data-toggle="tab">Top Team Issues</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="contribs">
                            <div class="page-header">
                              <h1>Top Contributors <small>(Metric: GitHub contributions)</small></h1>
                            </div>
                             <table class="table table-striped" style="width:100%">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th class="text-center">Pos</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Username</th>
                                        <th class="text-center">Contribs</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for contrib in contribs %}
                                    {% if loop.index==1 %}
                                    <tr class="warning">
                                    {% elif loop.index==2 %}
                                    <tr class="info">
                                    {% elif loop.index==3 %}
                                    <tr class="danger">
                                    {% else %}
                                    <tr>
                                    {% endif %}
                                        <td>{{loop.index}}</td>
                                        <td><img src="{{contrib.img_url}}" width="50px"></td>
                                        <td>{{contrib.username}}</td>
                                        <td>{{contrib.contribs}}</td>
                                    </tr>
                                    
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="issues">
                            <div class="page-header">
                              <h1>Top Issues <small>(Metric: closed GitHub issues)</small></h1>
                            </div>
                             <table class="table table-striped" align="center" style="width:100%">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th class="text-center">Pos</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Username</th>
                                        <th class="text-center">Opened Issues</th>
                                        <th class="text-center">Currently Open</th>
                                        <th class="text-center">Closed Issues</th>
                                        <th class="text-center">Assigned and open</th>
                                        <th class="text-center">Assigned and closed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for issue in issues %}
                                        {% if loop.index==1 %}
                                        <tr class="warning">
                                        {% elif loop.index==2 %}
                                        <tr class="info">
                                        {% elif loop.index==3 %}
                                        <tr class="danger">
                                        {% else %}
                                        <tr>
                                        {% endif %}
                                            <td>{{loop.index}}</td>
                                           <td><img src="{{issue.img_url}}" width="50px"></td>
                                           <td>{{issue.username}}</td>
                                           <td>{{issue.opened}}</td>
                                           <td>{{issue.open}}</td>
                                           <td>{{issue.closed}}</td>
                                           <td>{{issue.assigned_open}}</td>
                                           <td>{{issue.assigned_closed}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>                     
                        </div>
                        <div role="tabpanel" class="tab-pane" id="team-contribs">
                            <div class="page-header">
                              <h1>Top Team Contributors <small>(Metric: GitHub contributions)</small></h1>
                            </div>
                             <table class="table table-striped" align="center" style="width:100%">
                                <thead class="thead-default">
                                    <tr>
                                        <th class="text-center">Pos</th>
                                        <th class="text-center">Team</th>
                                        <th class="text-center">Contribs</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for team_contrib in team_contribs %}
                                    {% if loop.index==1 %}
                                    <tr class="warning">
                                    {% elif loop.index==2 %}
                                    <tr class="info">
                                    {% elif loop.index==3 %}
                                    <tr class="danger">
                                    {% else %}
                                    <tr>
                                    {% endif %}
                                        <td>{{loop.index}}</td>
                                        <td>{{team_contrib.team}}</td>
                                        <td>{{team_contrib.contribs}}</td>
                                    </tr>
                                    
                                 {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="team-issues">
                            <div class="page-header">
                              <h1>Top Team Issues <small>(Metric: closed GitHub issues)</small></h1>
                            </div>
                             <table class="table table-striped" style="width:100%">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th class="text-center">Pos</th>
                                        <th class="text-center">Team</th>
                                        <th class="text-center">Opened Issues</th>
                                        <th class="text-center">Currently Open</th>
                                        <th class="text-center">Closed Issues</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for team_issue in team_issues %}
                                    {% if loop.index==1 %}
                                    <tr class="warning">
                                    {% elif loop.index==2 %}
                                    <tr class="info">
                                    {% elif loop.index==3 %}
                                    <tr class="danger">
                                    {% else %}
                                    <tr>
                                    {% endif %}
                                        <td>{{loop.index}}</td>
                                        <td>{{team_issue.team}}</td>
                                        <td>{{team_issue.opened}}</td>
                                        <td>{{team_issue.open}}</td>
                                        <td>{{team_issue.closed}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
